*{
    padding: 0;
    margin: 0;
}

.container_header{
    position: relative;
    width: 100%;
    height: 74vh;
    background-color: #036dff;
    overflow: hidden;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(/multimedia/wave.png);
    background-size: 1000px 100px;
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

/*/ ---------------------------------------------------------
// RESPONSIVE
// ---------------------------------------------------------

/* Landscape Teléfonos */
@media (max-width: 480px) {  }

/* Landscape Teléfono a portrait tablet*/
@media (min-width: 481px) and (max-width: 767px) {  }

/*Pantallas 768 a 979*/
@media screen and (min-width: 768px) and (max-width: 979px) {  }

/*Pantallas 980 a 1199*/
@media screen and (min-width: 980px) and (max-width: 1199px) {  }

/*Pantallas 1200 a 1600*/
@media screen and (min-width: 1200px) and (max-width: 1600px) {  }

/*Pantallas 1601 and up */
@media screen and (min-width: 1601px) { 
    .container_header {
        height: 70vh;
    }
}